#!/usr/bin/env bash
set -e

cat > /opt/app/bin/.env << DOCKER_COMPOSE_ENV_EOF
MINIO_ACCESS_KEY={{getv "/env/s3.access.key" "AKIAIOSXODNN7EXAMPLE"}}
MINIO_SECRET_KEY={{getv "/env/s3.secret.key" "wJalrXUtqFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"}}
DOCKER_COMPOSE_ENV_EOF

cat > /root/.s3cfg << S3CFG_ENV_EOF
{{if eq (getv "/env/s3.type") "minio"}}
# Setup endpoint
host_base = 127.0.0.1:9000
host_bucket = 127.0.0.1:9000
bucket_location = us-east-1
use_https = False

# Setup access keys
access_key = {{getv "/env/s3.access.key" "AKIAIOSXODNN7EXAMPLE"}}
secret_key = {{getv "/env/s3.secret.key" "wJalrXUtqFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"}}

# Enable S3 v4 signature APIs
signature_v2 = False
{{- else if eq (getv "/env/s3.type") "QingStor" }}
# Setup endpoint
host_base = s3.{{getv "/env/s3.region" "pek3b"}}.qingstor.com
host_bucket = s3.{{getv "/env/s3.region" "pek3b"}}.qingstor.com
bucket_location = {{getv "/env/s3.region" "pek3b"}}
use_https = True

# Setup access keys
access_key = {{getv "/env/s3.access.key" "AKIAIOSXODNN7EXAMPLE"}}
secret_key = {{getv "/env/s3.secret.key" "wJalrXUtqFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY"}}

# Enable S3 v4 signature APIs
signature_v2 = True
{{- end }}
S3CFG_ENV_EOF

appctl restart