{
  "name": {{cluster.name}},
  "description": {{cluster.description}},
  "vxnet": {{cluster.vxnet}},
  "advanced_actions": [
    "scale_horizontal",
    "change_vxnet"
  ],
  "nodes": [{
    "role": "tfserving",
    "container": {
      "type": "kvm",
      "zone": "pek3",
      "image": "img-gz8h1out"
    },
    "instance_class": {{cluster.tfserving.instance_class}},
    "count": {{cluster.tfserving.count}},
    "cpu_model": "CascadeLake",
    "cpu": {{cluster.tfserving.cpu}},
    "memory": {{cluster.tfserving.memory}},
    "vertical_scaling_policy": "sequential",
    "services": {
      "init": {
        "cmd": "appctl init"
      },
      "start": {
        "cmd": "appctl restart"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      },
      "scale_out": {
        "cmd": "appctl scale_out"
      },
      "scale_in": {
        "cmd": "appctl scale_in"
      }
    },
    "user_access": true,
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "action_timeout_sec": 30,
      "healthy_threshold": 2,
      "unhealthy_threshold": 2,
      "check_cmd": "appctl check",
      "action_cmd": "appctl revive"
    }
  }, {
    "role": "model_repo",
    "container": {
      "type": "kvm",
      "zone": "pek3",
      "image": "img-l113b0zm"
    },
    "instance_class": {{cluster.model_repo.instance_class}},
    "count": {{cluster.model_repo.count}},
    "cpu_model": "Broadwell",
    "cpu": {{cluster.model_repo.cpu}},
    "memory": {{cluster.model_repo.memory}},
    "volume": {
      "size": {{cluster.model_repo.volume_size}},
      "mount_point": ["/data"],
      "class": {{cluster.model_repo.volume_class}}
    },
    "vertical_scaling_policy": "sequential",
    "services": {
      "init": {
        "cmd": "appctl init"
      },
      "start": {
        "cmd": "appctl restart"
      },
      "stop": {
        "cmd": "appctl stop"
      },
      "restart": {
        "cmd": "appctl restart"
      },
      "scale_out": {
        "cmd": "appctl scale_out"
      },
      "scale_in": {
        "cmd": "appctl scale_in"
      }
    },
    "user_access": true,
    "health_check": {
      "enable": true,
      "interval_sec": 60,
      "timeout_sec": 10,
      "action_timeout_sec": 30,
      "healthy_threshold": 2,
      "unhealthy_threshold": 2,
      "check_cmd": "appctl check",
      "action_cmd": "appctl revive"
    }
  }],
 "env": {
    "s3_type": {{env.s3_type}},
    "access_key": {{env.access_key}},
    "s3_access_key": {{env.s3_access_key}},
    "s3_secret_key": {{env.s3_secret_key}},
    "s3_region": {{env.s3_region}},
    "model_name": {{env.model_name}},
    "model_base_path": {{env.model_base_path}},
    "http_port": {{env.http_port}},
    "grpc_port": {{env.grpc_port}},
    "enable_access_log": {{env.enable_access_log}}
  },
  "endpoints": {
    "reserved_ips": {
      "tfserving_vip": {
        "value": ""
      }
    }
  }
}
