#!/usr/bin/env bash
set -e

cat > /opt/app/bin/role.sh << ROLS_SH_EOF
host="localhost"
port={{getv "/env/model.http.port" "8080"}}

prepareDir() {
  mkdir -p /data/logs && chgrp -R syslog /data/logs && chmod 775 /data/logs && mv /opt/models /data/
}

init() {
  _init
  prepareDir
#  local htmlPath=/data/elasticsearch/index.html
#  [ -e $htmlPath ] || ln -s /opt/app/conf/caddy/index.html $htmlPath
}

start () {
  cd /opt/app/bin && /usr/local/bin/docker-compose up -d
}

stop () {
  cd /opt/app/bin && /usr/local/bin/docker-compose down
}

restart() {
  cd /opt/app/bin && /usr/local/bin/docker-compose down && /usr/local/bin/docker-compose up -d
}

check() {
  nc -z -w5 \$host \$port
}

revive() {
  restart
}

update() {
  return 0
}
ROLS_SH_EOF