#!/usr/bin/env bash
set -e

cat > /opt/app/bin/role.sh << ROLS_SH_EOF
host="localhost"
port={{getv "/env/http_port" "8080"}}
DOCKER_HOME=/usr/local/bin

prepareDir() {
  mkdir -p /data/logs && chown -R syslog.adm /data/logs && chmod 775 /data/logs && mkdir -p /data/models_to_load && chmod -R 777 /data/models_to_load  && chmod -R +rx /opt/models && cp -rf /opt/models /data/
}

init() {
  prepareDir
  _init
  local htmlPath=/data/index.html
  [ -e \$htmlPath ] || ln -s /opt/app/conf/caddy/index.html \$htmlPath
}

start () {
  ip link delete docker0 &>/dev/null; echo ""; 
  _start && systemctl restart rsyslog && cd /opt/app/bin && \$DOCKER_HOME/docker-compose up -d
}

stop () {
  cd /opt/app/bin && \$DOCKER_HOME/docker-compose down && _stop
}

restart() {
  stop && start
}

check() {
  nc -z -w5 \$host \$port
}

revive() {
  restart
}

_restart_envoy() {
  docker stop envoy && cd /opt/app/bin && \$DOCKER_HOME/docker-compose up -d
}

scale_in() {
  _restart_envoy 
}

scale_out() {
  _restart_envoy 
}

update() {
  return 0
}
ROLS_SH_EOF