cat > /opt/app/conf/caddy/Caddyfile << CADDYFILE_EOF
{{ $myIp }}:8090 {
  root /data/
  gzip
  browse /logs
  browse /models
  browse /models_to_load
  tls off

  upload /upload {
    yes_without_tls
    to "/data/models_to_load"
  }
}
CADDYFILE_EOF

