#!/usr/bin/env bash
set -e

cat > /opt/app/bin/.env << DOCKER_COMPOSE_ENV_EOF
MODEL_NAME={{getv "/env/model.name" "half_plus_two"}}
MODEL_FOLDER={{getv "/env/model.folder.name" "saved_model_half_plus_two_mkl"}}
OMP_NUM_THREADS={{getv "/host/cpu" "8"}}
TENSORFLOW_INTER_OP_PARALLELISM=2
TENSORFLOW_INTRA_OP_PARALLELISM={{getv "/host/cpu" "8"}}
DOCKER_COMPOSE_ENV_EOF