installedServices="$(echo "
caddy/true/http:8090
" | xargs)"

cat > /opt/app/bin/app.env << APP_ENV_EOF
MY_IP={{ $myIp }}
MY_ROLE={{ $myRole }}

{{- range gets "/env/appctl.*" }}
{{ replace (base .Key) "." "_" -1 | toUpper }}={{ .Value }}
{{- end }}

SERVICES="$installedServices"
APP_ENV_EOF

